

body{
    background-image: url(../img/AdobeStock_496697760_Preview.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.feedback{
    backdrop-filter: blur(2px);
    padding: 20px;
    
}



h1{
    text-shadow: 4px 5px 9px rgba(185, 190, 255, 1);
}